@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --swiper-navigation-color: #ff3535;
  --swiper-pagination-color: #ff3535;
} */

html,
body {
  overflow-x: hidden;
}
.hamb {
  position: relative;
  margin-right: -0.625rem;
  border-width: 0px;
  background-color: transparent;
  padding: 0;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.hamb .ham {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.hamb .ham {
  height: 60px;
  width: 60px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.hamb .ham .top {
  stroke-dasharray: 40 160;
}
.hamb .ham .middle {
  transform-origin: 50%;
  stroke-dasharray: 40 142;
}
.hamb .ham .bottom {
  transform-origin: 50%;
  stroke-dasharray: 40 85;
}
.hamb .line {
  fill: none;
  stroke: white;
  stroke-width: 5;
  transition-duration: 0.3s;
  stroke-linecap: round;
}
.hamb.active svg {
  --tw-rotate: 45deg;
  transform: rotate(var(--tw-rotate));
}
.hamb.active svg .top {
  stroke-dashoffset: -64px;
}
.hamb.active svg .middle {
  --tw-rotate: 90deg;
  transform: rotate(var(--tw-rotate));
}
.hamb.active svg .bottom {
  stroke-dashoffset: -64px;
}
.glowRed {
  position: relative;
}
.glowRed::after {
  display: block;
  content: "";
  background-image: url("/glow-red.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  position: absolute;
  width: 589px;
  height: 72px;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
  opacity: 1;
  transition: all 0.6s ease-in-out;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx),
  only screen and (min-resolution: 144dpi) {
  .glowRed::after {
    background-image: url("/glow-red@2x.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
.glowing-text {
  color: #f2f2f2;
  transition: 0.3s;
  animation: glowing-text 5000ms infinite;
  text-shadow:
    0 0 10px rgb(255, 53, 53),
    0 0 20px rgb(255, 53, 53),
    0 0 40px rgb(255, 53, 53),
    0 0 80px rgb(230, 53, 53),
    0 0 120px rgb(255, 53, 53),
    0 0 110px rgb(255, 53, 53);
}
@keyframes glowing-text {
  20% {
    text-shadow:
      0 0 10px rgb(47, 0, 255),
      0 0 20px rgb(47, 0, 255),
      0 0 40px rgb(47, 0, 255),
      0 0 80px rgb(47, 0, 255),
      0 0 120px rgb(47, 0, 255),
      0 0 110px rgb(47, 0, 255);
  }
  40% {
    text-shadow:
      0 0 10px rgb(60, 255, 0),
      0 0 20px rgb(60, 255, 0),
      0 0 40px rgb(60, 255, 0),
      0 0 80px rgb(60, 255, 0),
      0 0 120px rgb(60, 255, 0),
      0 0 110px rgb(60, 255, 0);
  }
  60% {
    text-shadow:
      0 0 10px rgb(0, 204, 255),
      0 0 20px rgb(0, 204, 255),
      0 0 40px rgb(0, 204, 255),
      0 0 80px rgb(0, 204, 255),
      0 0 120px rgb(0, 204, 255),
      0 0 110px rgb(0, 204, 255);
  }
  80% {
    text-shadow:
      0 0 10px rgb(255, 251, 0),
      0 0 20px rgb(255, 251, 0),
      0 0 40px rgb(255, 251, 0),
      0 0 80px rgb(255, 251, 0),
      0 0 120px rgb(255, 251, 0),
      0 0 110px rgb(255, 251, 0);
  }
  100% {
    text-shadow:
      0 0 10px rgb(255, 0, 212),
      0 0 20px rgb(255, 0, 212),
      0 0 40px rgb(255, 0, 212),
      0 0 80px rgb(255, 0, 212),
      0 0 120px rgb(255, 0, 212),
      0 0 110px rgb(255, 0, 212);
  }
}
.masonry-container {
  column-gap: 1rem;
  column-count: 2;
}

.masonry-container.video {
  column-count: 1;
}

.masonry-item {
  break-inside: avoid;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .masonry-container {
    column-count: 5;
  }
  .masonry-container.video {
    column-count: 2;
  }
}
.testimonial-bg-1 {
  transform: scale(0.79, 0.79) translate(78.6835px, -101.544px);
  left: -616px;
  top: 152px;
  width: 740px;
  height: 460px;
}
.testimonial-bg-2 {
  transform: scale(0.79, 0.79) translate(377.734px, -120.418px);
  left: 401px;
  top: 173px;
  width: 840px;
  height: 460px;
}
.testimonial-bg-3 {
  transform: scale(0.79, 0.79) translate(-288.816px, -101.677px);
  left: 909px;
  top: 205px;
  width: 350px;
  height: 350px;
}
@media (min-width: 1024px) {
  .testimonial-bg-1 {
    transform: scale(1, 1) translate(0px, 0px);
    left: -516px;
  }
  .testimonial-bg-2 {
    transform: scale(1, 1) translate(0px, 0px);
    left: 901px;
  }
  .testimonial-bg-3 {
    transform: scale(1, 1) translate(0px, 0px);
    left: 809px;
  }
}
@media (min-width: 1280px) {
  .testimonial-bg-2 {
    left: 1101px;
  }
  .testimonial-bg-3 {
    left: 1009px;
  }
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
.service-card {
  animation: float 3s ease-in-out infinite;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    background-color 0.3s ease;
}

.service-card:hover {
  transform: scale(1.05) translateY(-10px);
  box-shadow: 0 10px 20px rgba(255, 53, 53, 0.4);
  background-color: #595959;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}
.backface-hidden {
  backface-visibility: hidden;
}

/* .masonry-container {
  column-gap: 1rem;
  column-count: 2;
}
.masonry-item {
  break-inside: avoid;
  margin-bottom: 1rem;
}
@media (min-width: 640px) {
  .masonry-container {
    column-count: 3;
  }
}
@media (min-width: 1024px) {
  .masonry-container {
    column-count: 5;
  }
} */
.modal {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 700px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: 500;
}
/* components/ImageModal.module.css */
.carousel {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
